<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue_grey-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <style type="text/css">
        .full-width {
            width: 100%;
        }

        .flex-justify-center {
            justify-content: center;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col text-center">
            <div class="mdl-card mdl-shadow--2dp full-width">
                <div class="mdl-card__supporting-text">Click the button below to login</div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="/do-login" class="mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
</body>

</html>
